.image-container .dish {
  flex-basis: 460px;
  margin: 1vw;
  align-items: center;
  background-color: #714231;
}

.image-container .dish-content {
	display: flex;
	flex-wrap: nowrap;
}

.image-container .dish img {
  margin-block-start: 10px;
  width: 200px;
  height: auto;
  transition: 1s;
}

.image-container .dish img:hover {
  transform: scale(1.5);
}

.image-container .dish p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-block-end: 0px;
}

.image-container .recipe {
  align-self: center;
}

.recipe-step {
	text-align: left;
	list-style-type: decimal;
	padding-inline-start: 10px;
}

@media screen and (max-width: 480px) {
	.image-container .dish {
		flex-basis: 300px;
	}

  .image-container .recipe {
    flex-basis: unset;
  }

  .image-container .recipe-step {
    padding-inline-start: 40px;
  }

	.image-container .dish-content {
		flex-direction: column;
	}

}