/* TODO: these should be moved up one level, applies to all people */

/*@media screen and (min-width: 401px) {
  .top_icon-container img {
  	width: 20vw;
  	max-width: 180px;
  }	
}*/

@media screen and (max-width: 400px) {
  .top_drawer-toggle-container {
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .top_person-title {
   	font-weight: bold;  
  	font-size: 6vw;
  	width: 60vw;   	
  	margin-inline-start: auto;
    margin-inline-end: auto;	
  }

  .top_icon-container {
    margin-inline-end: 0px;
  }

  .top_icon-container img {
  	width: 60vw;
    max-height: unset;
  }

  nav {
    display: none;
    width: 90%;
    margin: auto;
    order: 1;
  }

  .modal-content {
    margin: 2% auto;
    min-width: 90%;
  }

}

@media screen and (min-width: 401px and max-width: 800px) {
  .top_icon-container img {
    max-height: 112px;
  }  
}

@media screen and (min-width: 801px) {
  .top_person-title {
    font-size: 2.5rem;  
  }
}
