.shiramain-figure {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.shiramain-figure img {
  max-width: 350px;
  flex-basis: 200px;
  margin: 10px 10px;
}

.shiramain-figure .shiramain-intro-container {
  width: 98%;
  font-size: 1.2rem;
  max-width: 350px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.shiramain-intro-container .shiramain-figure-title {
  text-align: center;
}

.shiramain-intro-container .intro-content {
  align-items: center;
}

@media screen and (min-width: 801px) {
  .shiramain-figure .shiramain-intro-container {
    width: 60vw;
    max-width: unset;
  }  
} 