#weather-forecast {
	padding: 1em 1em;
	width: 90vw;
	max-width: 1100px;
	margin: auto auto;
/*	background-color: #bed1e0;*/
	display: grid;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(135px, 1fr) );
}

.day-grid {
	padding: 1em 1em;
	display: grid;
	background-color: #bed1e0;	
	grid-template-rows: 40px 20px 80px auto;
	grid-row-gap: 1em;
}

.day-grid img {
	width: 88px;
	height: 88px;
}

.period-name {
	font-weight: bold;
	font-size: 14px;
}

.period-detailed {
	width: 90px;
	height: 10px;
/*	white-space: nowrap;
	overflow: hidden;*/
	text-overflow: ellipsis;
}

.period-detailed span {
	display: none;
}

