/* TODO: these should be moved up one level, applies to all people */

@media screen and (min-width: 401px) {
  .person-img {
  	width: 20vw;
  	max-width: 180px;
  }	
}

@media screen and (min-width: 800px) {
  .person-title {
  	font-size: 2.5rem;  
  }
}

@media screen and (max-width: 400px) {
  .person-title {
   	font-weight: bold;  
  	font-size: 6vw;
  	width: 60vw;   	
  	margin-inline-start: 0px; 
  	order: -1;  		
  }

  #person-icon-container {
    margin-inline-end: 0px;
  }

  .person-img {
  	width: 60vw;
  }

  nav {
    order: 1;
  }

/*  #drawing-container div {
  	margin: 0;
  }*/

  .modal-content {
    margin: 2% auto;
    min-width: 90%;
  }

}


#navbar {
	background-color: #7ebbd6;
	width: 75%;
	min-height: 40px;
	display: inline-block;
}
