nav {
	width: 100%;
	padding: 2rem 1rem;
}

.container {
	display: flex;
}

#bread-icon {
	display: inline-block;
	padding: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .bread-logo {
    animation: bread-spin infinite 20s linear;
  }
}

@keyframes bread-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar {
	background-color: #7ebbd6;
	width: 75%;
	min-height: 40px;
	display: inline-block;
}

.person {
	text-align: left;
	font-size: 1.5rem;
}

.bread-img {
    max-width: 100px;
    padding: 10px;
    background-size: 100px 100px;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	padding-inline-start: 0px;
}

ul#topitem li{
	display: inline-block;
    padding: 1.375rem 0;
}